
@font-face {
  font-family: font1;
  src: url(./Fonts/BaiJamjuree-Medium.ttf);
}
@font-face {
  font-family: font2;
  src: url(./Fonts/BaiJamjuree-Light.ttf);
}

@font-face {
  font-family: font3;
  src: url(./Fonts/KhonsongRoundedDEMO-Medium.otf);
}
@font-face {
  font-family: font4;
  src: url(./Fonts/MNLotchongBold.ttf);
}
@font-face {
  font-family: font5;
  src: url(./Fonts/MNPlaKao.ttf);
}

/* dropdown function*/

#tabmenu{
	background-color: #77a600;
}

#profilepicold{
	border-radius:90%;
	margin-left:20px;
}

.profilepicold2{
	float:left
}

.autoscale2{
	width : 5vw;
	height: 5vw;

}

.oldtitle{
	float:left;
	margin-left:45px;

}

.oldtabmenu{
	margin-right:50px;

}

.dropbtn {
	background-color: #77a600;
	/*margin:1.5vw;*/
	cursor: pointer;
	transition: 0.5s;
	border : 2px solid black;

  }

  .dropbtnold {
	background-color: #77a600;
	/*margin:1.5vw;*/
	cursor: pointer;
	float:right;
	transition: 0.5s;
	border : 2px solid black;

  }


  
  .menu3line {

	z-index: 1;
  }
  
  .linklist {
	display: none;
	position: fixed;
	right:0px;
	margin-right:8px;
	background-color: #c3ecff;

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:2;
  }
  
  .linklist a {
	color: black;
	padding: 2vw 2vw;
	text-decoration: none;
	font-family:font1;
	font-size:2vw;
	display: block;
	transition: 0.5s;
  }
  
  .linklist a:hover {
	background-color:#d1f770;
	transition: 0.5s;
}
  
  .menu3line:hover .linklist {
	display: block;
  }
  
  .menu3line:hover .dropbtn {
	background-color: #39ff40;
	transition: 0.5s;
  }

.contacttable {
	width:100%;
	height:auto;
	font-family: font2;
	font-size:1.75vw;
	text-shadow:0 0 20px black;
	color: rgb(124, 255, 255);
	animation: floatwater 1.2s linear infinite;
	animation-direction: alternate;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
}

.Mycontactanimate{
	text-align: center;
	padding:20px;
	margin-top:5vw;
	color:white;
	font-size : 3.25vw;
	font-family:font1;
	text-shadow:0 0 10px black;
	animation: floatwater 0.9s linear infinite;
	animation-direction: alternate;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
	width:100%;
	height:auto;
	}

	.Mycontactanimate2{
		text-align: center;
		padding:20px;
		margin-top:5vw;
		color:white;
		font-size : 3.25vw;
		font-family:font1;
		text-shadow:0 0 10px black;
		animation: floatwater 0.9s linear infinite;
		animation-direction: alternate;
		background-image:url(../Picture/Backgrounds/bg08.png);
		background-size: cover;
		width:100%;
		height:auto;
		}


.animate1{
	background: linear-gradient(-45deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: stylewel 4s linear infinite;

}

.animate2{
	background: linear-gradient(-90deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size:300%;
	animation: stylebg 20s linear infinite;
	
}

.animate3{
	animation: bordercolorchange1 0.5s linear alternate infinite;
	
}


.animate4{
	animation: bordercolorchange1 0.5s linear alternate-reverse infinite;	
}

.animate5{
	animation: movething1 0.5s linear alternate infinite;
	border: 5px dashed white;
}

.animate6{
	animation: movething1 0.5s linear alternate-reverse infinite;
	border: 5px dashed lightblue;
	
}
.animate7{
	animation: movething2 2s linear infinite;
	border: 5px dashed lightgreen;
	
}
.animate8{
	animation: movething2 2s linear reverse infinite;
	border: 5px dashed lightcoral;
	
}
.animate9{
	animation: bordercolorchange2 0.5s linear alternate infinite;
	
}


  @keyframes stylebg {
	0% { background-position: -150% 0%; };
	100% { background-position: 150% 0%; };
}

@keyframes stylewel {
	0% { background-position: -200% 0%; };
	100% { background-position: 200% 0%; };
}

  @keyframes stylebg2 {
	0% { background-position: -100% 50%; };
	100% { background-position: 100% 50%; };
}

@keyframes stylebg3 {
	0% { background-position: -100% -50%; };
	100% { background-position: 100% 50%; };
}

  @keyframes floatwater{
	0% {
		
		transform: rotatex(-40deg);
}
	100% {
		transform: rotatex(-30deg);
		
	}

   }

   @keyframes bordercolorchange1 {
	0% { border:10px dashed #755edf }
	100% {border:10px dashed #0dff00 }
}
@keyframes bordercolorchange2 {
	0% { border:5px double #755edf }
	100% {border:5px double #0dff00 }
}


@keyframes movething1{
	0% {transform: translate(0px, 10px);}
	100% {transform: translate(0px, -10px);}
}

@keyframes movething2{
	0% {transform: translate(0px, 10px);}
	25% {transform: translate(-10px, 10px);}
	50% {transform: translate(-10px, -10px);}
	75% {transform: translate(10px, -10px);}
	100% {transform: translate(0px, 10px);}
}

h2{
	font-family:font1
}
cite{
	font-family:font2
}


#profilepic{
	border-radius:90%;
	max-width: 100%;
  height: auto;
}

#profileold{
float:left;
}

.head1{
display: block;
color: white;
text-decoration: none;
font-family:font1;
font-size:2.5vw;
}

.head1old{
	display: block;
	color: white;
	text-decoration: none;
	font-family:font1;
	font-size:2.5vw;
	margin-left:100px;
	}

.head1Res{
	color: white;
	text-align: left;
	text-decoration: none;
	font-family:font1

	}

/*marquee color set*/
#marqueecolor{
	background-color:yellow;
	color:red;
	font-family:font2;
	font-size: 1.5vw;
}

#fontfooter{
	font-family: font1;
	color:white;
	font-size:1.5vw;
}

/*Grid View 12 section*/
/*For Desktop that*/


/*
@media only screen and (max-width: 340px){}

@media only screen and (max-width: 576px) {
	.cl1 {width:33.33%;}
}*/



* {
	box-sizing: border-box;
  }

@media only screen and (min-width: 769px) {
	.cn1 {width: 8.33%;}
	.cn2 {width: 16.66%;}
	.cn3 {width: 25%;}
	.cn4 {width: 33.33%;}
	.cn5 {width: 41.66%;}
	.cn6 {width: 50%;}
	.cn7 {width: 58.33%;}
	.cn8 {width: 66.66%;}
	.cn9 {width: 75%;}
	.cn10 {width: 83.33%;}
	.cn11 {width: 91.66%;}
	.cn12 {width: 100%;}
	.cn0{
		display: none;
	}

	[class*="cn"] {
		float: left;
		padding: 15px;
		/*border: 2px dashed rgb(153, 237, 19);*/
	}
	.autoscale{
		width : 100%;
		height: auto;
		object-fit: contain;
	
	}

	#welcometxt{
		color:aqua;font-family:font2;
		font-size : 1.25vw;
	}

	#welcomeinfo{

		/* border: 1px solid red;*/ /*enable For Debug border*/
		font-size:3.5vw;
		font-family:font1;
		
		}
	
	}

	@media only screen and (max-width: 320px) {
		.cv1 {width: 8.33%;}
		.cv2 {width: 16.66%;}
		.cv3 {width: 25%;}
		.cv4 {width: 33.33%;}
		.cv5 {width: 41.66%;}
		.cv6 {width: 50%;}
		.cv7 {width: 58.33%;}
		.cv8 {width: 66.66%;}
		.cv9 {width: 75%;}
		.cv10 {width: 83.33%;}
		.cv11 {width: 91.66%;}
		.cv12 {width: 100%;}
		.cv0{
			display: none;
		}

		[class*="cv"] {
			float: left;
			padding: 2vw;
			/*border: 2px dashed rgb(240, 0, 116);*/
		}
		.autoscale{
			width : 100%;
			height: auto;
		
		}

		#welcometxt{
			color:aqua;font-family:font2;
			font-size : 1.9vw;
		}

		#welcomeinfo{

			font-size:6vw;
			font-family:font1;
			
			}

			.head1{
				font-size:3.5vw;
			}
		
		}


@media only screen and (max-width: 768px) and (min-width: 320px){
	.cp1 {width: 8.33%;}
	.cp2 {width: 16.66%;}
	.cp3 {width: 25%;}
	.cp4 {width: 33.33%;}
	.cp5 {width: 41.66%;}
	.cp6 {width: 50%;}
	.cp7 {width: 58.33%;}
	.cp8 {width: 66.66%;}
	.cp9 {width: 75%;}
	.cp10 {width: 83.33%;}
	.cp11 {width: 91.66%;}
	.cp12 {width: 100%;}
	.cp0{
		display: none;
	}

	[class*="cp"] {
	float: left;
	padding: 2vw;
	/*
	border: 2px dashed rgb(80, 64, 255);*/
	}
	.contacttable{
		font-size:3vw;
	}
	.piccomfrom{
		width:80%;
	}
	
	.autoscale{
		width : 80%;
		height: auto;
		object-fit: fill;
	
	}

	#welcometxt{
		color:aqua;
		font-family:font2;
		font-size : 1.25vw;
	}

	#welcomeinfo{

		font-size:3.5vw;
		font-family:font1;
		
		}
}


	
  