
@font-face {
  font-family: font1;
  src: url(./Fonts/BaiJamjuree-Medium.ttf);
}
@font-face {
  font-family: font2;
  src: url(./Fonts/BaiJamjuree-Light.ttf);
}

@font-face {
  font-family: font3;
  src: url(./Fonts/KhonsongRoundedDEMO-Medium.otf);
}
@font-face {
  font-family: font4;
  src: url(./Fonts/MNLotchongBold.ttf);
}
@font-face {
  font-family: font5;
  src: url(./Fonts/MNPlaKao.ttf);
}

/* dropdown function*/

#tabmenu{
	background-color: #77a600;
}

.dropbtn {
	background-color: #77a600;
	margin-top:15px;
	border: none;
	cursor: pointer;
	transition: 0.5s;
	border : 2px solid black;

  }


  
  .menu3line {
	display: inline-block;
	z-index: 1;
  }
  
  .linklist {
	display: none;
	position: fixed;
	right:0px;
	margin-right:8px;
	background-color: #c3ecff;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:2;
  }
  
  .linklist a {
	color: black;
	padding: 16px 16px;
	text-decoration: none;
	font-family:font1;
	display: block;
	transition: 0.5s;
  }
  
  .linklist a:hover {
	background-color:#d1f770;
	transition: 0.5s;
}
  
  .menu3line:hover .linklist {
	display: block;
  }
  
  .menu3line:hover .dropbtn {
	background-color: #39ff40;
	transition: 0.5s;
  }

.contacttable {
	font-family: font2;
	font-size:20px;
	text-shadow:0 0 20px black;
	color: rgb(124, 255, 255);
	animation: floatwater 1.2s linear infinite;
	animation-direction: alternate;
	opacity:100%;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
}

.Mycontactanimate{
	text-align: center;
	margin-top:125px;
	padding:20px;
	color:white;
	font-size:50px;
	font-family:font1;
	text-shadow:0 0 10px black;
	animation: floatwater 0.9s linear infinite;
	animation-direction: alternate;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
	width:100%;
	height:auto;
	}


.animate1{
	background: linear-gradient(-45deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: stylewel 4s linear infinite;

}

.animate2{
	background: linear-gradient(-90deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size:300%;
	animation: stylebg 20s linear infinite;
	
}

.animate3{
	animation: bordercolorchange1 0.5s linear alternate infinite;
	
}


.animate4{
	animation: bordercolorchange1 0.5s linear alternate-reverse infinite;	
}

.animate5{
	animation: movething1 0.5s linear alternate infinite;
	border: 5px dashed white;
}

.animate6{
	animation: movething1 0.5s linear alternate-reverse infinite;
	border: 5px dashed lightblue;
	
}
.animate7{
	animation: movething2 2s linear infinite;
	border: 5px dashed lightgreen;
	
}
.animate8{
	animation: movething2 2s linear reverse infinite;
	border: 5px dashed lightcoral;
	
}
.animate9{
	animation: bordercolorchange2 0.5s linear alternate infinite;
	
}


  @keyframes stylebg {
	0% { background-position: -150% 0%; };
	100% { background-position: 150% 0%; };
}

@keyframes stylewel {
	0% { background-position: -200% 0%; };
	100% { background-position: 200% 0%; };
}

  @keyframes stylebg2 {
	0% { background-position: -100% 50%; };
	100% { background-position: 100% 50%; };
}

@keyframes stylebg3 {
	0% { background-position: -100% -50%; };
	100% { background-position: 100% 50%; };
}

  @keyframes floatwater{
	0% {
		
		transform: rotatex(-40deg);
}
	100% {
		transform: rotatex(-30deg);
		
	}

   }

   @keyframes bordercolorchange1 {
	0% { border:10px dashed #755edf }
	100% {border:10px dashed #0dff00 }
}
@keyframes bordercolorchange2 {
	0% { border:5px double #755edf }
	100% {border:5px double #0dff00 }
}


@keyframes movething1{
	0% {transform: translate(0px, 10px);}
	100% {transform: translate(0px, -10px);}
}

@keyframes movething2{
	0% {transform: translate(0px, 10px);}
	25% {transform: translate(-10px, 10px);}
	50% {transform: translate(-10px, -10px);}
	75% {transform: translate(10px, -10px);}
	100% {transform: translate(0px, 10px);}
}

h2{
	font-family:font1
}
cite{
	font-family:font2
}


#profilepic{
	border-radius:90%;
	max-width: 100%;
  height: auto;
}
.head1{
display: block;
color: white;
text-align: left;
padding-left: 80px;
text-decoration: none;
font-family:font1;
font-size:40px;
}

.head1Res{
	color: white;
	text-align: left;
	text-decoration: none;
	font-family:font1

	}

/*marquee color set*/
#marqueecolor{
	background-color:yellow;
	color:red;
	font-family:font2
}

#fontfooter{
	font-family: font1;color:white;
}

/*Grid View 12 section*/
/*For Desktop that*/


/*
@media only screen and (max-width: 340px){}

@media only screen and (max-width: 576px) {
	.cl1 {width:33.33%;}
}*/

@media only screen and (min-width: 769px) {
	.cn1 {width: 8.33%;}
	.cn2 {width: 16.66%;}
	.cn3 {width: 25%;}
	.cn4 {width: 33.33%;}
	.cn5 {width: 41.66%;}
	.cn6 {width: 50%;}
	.cn7 {width: 58.33%;}
	.cn8 {width: 66.66%;}
	.cn9 {width: 75%;}
	.cn10 {width: 83.33%;}
	.cn11 {width: 91.66%;}
	.cn12 {width: 100%;}
	}

@media only screen and (max-width: 768px) {
	.cp1 {width: 8.33%;}
	.cp2 {width: 16.66%;}
	.cp3 {width: 25%;}
	.cp4 {width: 33.33%;}
	.cp5 {width: 41.66%;}
	.cp6 {width: 50%;}
	.cp7 {width: 58.33%;}
	.cp8 {width: 66.66%;}
	.cp9 {width: 75%;}
	.cp10 {width: 83.33%;}
	.cp11 {width: 91.66%;}
	.cp12 {width: 100%;}

}

	[class*="cn"] {
		float: left;
		padding: 15px;
		border: 1px solid red;
	}
	[class*="cp"] {
		float: left;
		padding: 15px;
		border: 1px solid red;
	}

	* {
		box-sizing: border-box;
	  }
  