
@font-face {
  font-family: font1;
  src: url(./Fonts/BaiJamjuree-Medium.ttf);
}
@font-face {
  font-family: font2;
  src: url(./Fonts/BaiJamjuree-Light.ttf);
}

@font-face {
  font-family: font3;
  src: url(./Fonts/KhonsongRoundedDEMO-Medium.otf);
}
@font-face {
  font-family: font4;
  src: url(./Fonts/MNLotchongBold.ttf);
}
@font-face {
  font-family: font5;
  src: url(./Fonts/MNPlaKao.ttf);
}


* {
  box-sizing: border-box;
}

/* dropdown function*/

#tabmenu{
	float:right;
	margin-top:5px;
	margin-right:15px;
}

.dropbtn {
	background-color: #77a600;
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: 0.5s;
  }
  
  .menu3line {
	position: relative;
	display: inline-block;
	z-index: 1;
  }
  
  .linklist {
	display: none;
	position: absolute;
	right: 0;
	background-color: #c3ecff;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .linklist a {
	color: black;
	padding: 16px 16px;
	text-decoration: none;
	font-family:font1;
	display: block;
	transition: 0.5s;
  }
  
  .linklist a:hover {
	background-color:#d1f770;
	transition: 0.5s;
}
  
  .menu3line:hover .linklist {
	display: block;
  }
  
  .menu3line:hover .dropbtn {
	background-color: #39ff40;
	transition: 0.5s;
  }

.contacttable {
	font-family: font2;
	font-size:20px;
	text-shadow:0 0 20px black;
	color: rgb(124, 255, 255);
	animation: floatwater 1.2s linear infinite;
	animation-direction: alternate;
	opacity:100%;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
}

.Mycontactanimate{
	float:left;
	margin-left:100px;
	margin-top:100px;
	padding:20px;
	color:white;
	font-size:50px;
	font-family:font1;
	text-shadow:0 0 10px black;
	animation: floatwater 0.9s linear infinite;
	animation-direction: alternate;
	background-image:url(../Picture/Backgrounds/bg08.png);
	background-size: cover;
	}


.animate1{
	background: linear-gradient(-45deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: stylewel 4s linear infinite;

}

.animate2{
	background: linear-gradient(-90deg, #61d8c5, #755edf, #3ce36e, #e1572d,#61d8c5);
	background-size:300%;
	animation: stylebg 10s linear infinite;
	
}

.animate3{
	animation: bordercolorchange1 0.5s linear alternate infinite;
	
}

.animate3:hover{
	animation-play-state: paused;
	
}
.animate4{
	animation: bordercolorchange1 0.5s linear alternate-reverse infinite;
	
}

.animate5{
	animation: movething1 0.5s linear alternate infinite;
	
}

.animate6{
	animation: movething1 0.5s linear alternate-reverse infinite;
	
}
.animate7{
	animation: movething2 2s linear infinite;
	
}
.animate8{
	animation: movething2 2s linear reverse infinite;
	
}

  @keyframes stylebg {
	0% { background-position: -150% 0%; };
	100% { background-position: 150% 0%; };
}

@keyframes stylewel {
	0% { background-position: -200% 0%; };
	100% { background-position: 200% 0%; };
}

  @keyframes stylebg2 {
	0% { background-position: -100% 50%; };
	100% { background-position: 100% 50%; };
}

  @keyframes floatwater{
	0% {
		
		transform: rotatex(-40deg);
}
	100% {
		transform: rotatex(-30deg);
		
	}

   }

   @keyframes bordercolorchange1 {
	0% { border:10px dashed #755edf }
	100% {border:10px dashed #0dff00 }
}


@keyframes movething1{
	0% {transform: translate(0px, 10px);}
	100% {transform: translate(0px, -10px);}
}

@keyframes movething2{
	0% {transform: translate(0px, 10px);}
	25% {transform: translate(-10px, 10px);}
	50% {transform: translate(-10px, -10px);}
	75% {transform: translate(10px, -10px);}
	100% {transform: translate(0px, 10px);}
}

h2{
	font-family:font1
}
cite{
	font-family:font2
}


.profile{
	float:left;
	margin-left:20px;
	margin-top:10px;
}
#profilepic{
	border-radius:90%;"
}
.head1{
display: block;
color: white;
text-align: left;
padding-left: 100px;
text-decoration: none;
font-family:font1
}

/*marquee color set*/
#marqueecolor{
	background-color:yellow;
	color:red;
	font-family:font2
}


